<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>false</SelfContained>
    <PublishDir>$(MSBuildProjectDirectory)/bin/Release/net10.0/publish/</PublishDir>
    <PublishUrl>$(PublishDir)</PublishUrl>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <DeleteExistingFiles>true</DeleteExistingFiles>
  </PropertyGroup>
  <Target Name="CleanFolderPublishDirectory" BeforeTargets="PrepareForPublish" Condition="'$(DeleteExistingFiles)' == 'true' And '$(PublishDir)' == '$(MSBuildProjectDirectory)/bin/Release/net10.0/publish/'">
    <RemoveDir Directories="$(PublishDir)" />
  </Target>
  <PropertyGroup>
    <WebConfig>True</WebConfig>
    <GenerateIISSettings>true</GenerateIISSettings>
    <IncludeIISSettings>true</IncludeIISSettings>
    <PublishIISAssets>true</PublishIISAssets>
    <IsTransformWebConfigDisabled>false</IsTransformWebConfigDisabled>
    <AspNetCoreModuleName>AspNetCoreModuleV2</AspNetCoreModuleName>
    <AspNetCoreHostingModel>InProcess</AspNetCoreHostingModel>
  </PropertyGroup>
</Project>
